/*
Theme Name: Homes San Luis Obispo 2
Theme URI: http://homessanluisobispo.com/
Author: Good2bseen
Author URI: http://Good2bseen.com/
Description: 
Version: 1.0
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
html {
	background:#0a133a url(images/bg.jpg) top no-repeat;
}
body {
	background:transparent;
}
/* Branding */
#branding {
	height:100px;
}
#phone {
	background:transparent url(images/phone.png) no-repeat;
	width:125px;
	height:30px;
	position:absolute;
	right:0;
	color:#000035;
	font:bold 18px Arial;
	padding:8px 0 0 14px;
}
#branding hgroup {
	position:absolute;
}
#branding hgroup #site-title {
	background:transparent url(images/logo.png) no-repeat;
	text-indent:-9999px;
	position:absolute;
	height:70px;
	width:77px;
	margin:15px 0 0 15px;
}
#branding hgroup #site-description {
	position:absolute;
	font:normal 29px "FelixTitlingRegular", "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	color:#9898c9;
	margin-top:55px ;
	text-align:right;
	width:940px;
	text-transform:uppercase;
}	
#access {
	height:49px;
	overflow:hidden;
	background:transparent url(images/navbg.png) no-repeat;

}
.assistive-text, 
.skip-link {
	display:none;
}
.menu {
	text-align:center;
}
.menu li {
	display:inline-block;
	padding:17px 20px;
}
.menu li a {
	color:#f2ce4e;
	font:normal 16px "ArialRounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	display:block;
	text-decoration:none;
}
.menu li a:hover {
	text-decoration:underline;
}
.menu li.current_page_item a{
	color:#FFF;
}

#content {
	background-color:#171c54;
	border-right:2px solid #363664;
	border-left:2px solid #363664;
	border-bottom:2px solid #363664;
	margin-bottom:20px;
}

/* Homepage */
#content.homepage, #content.homepage #sidebar{
	background-color:#000035!important;
}
#content.homepage #sidebar #features .videotour {
	color:#be9824;
	font:bold 16px Arial, sans-serif;
	text-decoration:none;
}
#content.homepage #sidebar {
	width:226px;
	margin-right:0;
}
#content.homepage #sidebar #features {
	padding:50px 0 0 30px;
}
#content.homepage #sidebar #features ul{
	list-style:disc;
	color:#FFF;
	font:bold 16px Arial, sans-serif;
}
#content.homepage #main {
	width:700px;
	height:400px;
	float:right;
}
#content.homepage #sidebar h3 {
	font:normal 22px "FelixTitlingRegular", "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	color:#be9824;
	text-transform:uppercase;
}
#content.homepage #main {
	margin:0;
	padding:0;
}
/* Single */
#content.single, #content.single #sidebar{
	background-color:#070627;
	color:#FFF;
}
#content.single a, #content.single #sidebar a{
	color:#CCB0B0;
}
#content.single .entry-title, #content.single .entry-title a {
	color:#EACD47;
	font:bold 28px "FelixTitlingRegular", "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
#content.single #main {
	float:left;
	margin-right:0px;
	margin-top:20px;
	margin-bottom:20px;
}
#content.single #sidebar {
	float:left;
	margin-right:0px;
	width:200px;
	margin-top:20px;
	margin-bottom:20px;
}
/* widgets */
.widget-area .widget-title {
	color:#FFF;
	font:bold 22px "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}	
/* footer-boxes */
#footer-boxes .box1 {
	border-radius:5px;
	box-shadow: 0px 0px 5px #000;
	text-align:center;
	padding:10px;
	background-color:#bea136; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#bea136, #d1b449);
	background: -o-linear-gradient(#bea136, #d1b449);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bea136), to(#d1b449)); /* older webkit syntax */
	background: -webkit-linear-gradient(#bea136, #d1b449);
}
#footer-boxes .box {
	border-radius:5px;
	box-shadow: 0px 0px 5px #000;
	text-align:center;
	padding:10px;
	background:#bea136 url(images/boxbg1.jpg) top repeat; 

}
#footer-boxes .box h3 {
	font:bold 20px Arial;
	margin:0;
	padding:0;
	text-transform:uppercase;
}
#footer-boxes .box h3 a {
	text-decoration:none;
	color:#28267a;
}
#footer {
	margin-top:15px;
}
#footer #colspon strong{
	color:#7f7c7c;
}
#footer #colspon {
	text-align:center;
	color:#7f7c7c;
	font:normal 12px Arial;
}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#branding hgroup #site-description {
			font-size:23px;
			width:748px;
		}	
		#access {
			background:transparent url(images/navbg2.png) no-repeat;
		}
		#footer-boxes .box h3{ 
			font-size:16px;
		}
		#footer-boxes .box span {
			font-size:11px;
		}
		.menu li{
			padding: 15px 10px;
		}
		.menu li a {
			font-size:14px;
		}
		#content.homepage #sidebar #features .videotour {
			font-size:12px;
		}
		#content.homepage #sidebar #features {
			padding:10px 0 0 30px;
		}
		#content.homepage #sidebar #features ul{
			font-size:12px;
		}
		#content.homepage #sidebar #features li {
			margin: 0 0 8px 0;
		}
		#content.homepage #sidebar h3 {
			font-size:18px;
		}
#content.homepage #sidebar {
	width:180px;
}
		#content.homepage #main img {
			width:546px;
		}
		#content.homepage #main  {
			width:546px;
			height:312px;
		}
		
#content.single #main {
	float:left;
	margin-right:0px;
	margin-top:20px;
	margin-bottom:20px;
}
#content.single #sidebar {
	float:left;
	margin-right:0px;
	width:150px;
	margin-top:20px;
	margin-bottom:20px;
}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#branding hgroup #site-description {
			display:none;
		}
		#footer-boxes .box { 
			margin-top:15px;
		}
		#footer-boxes .box h3{ 
			font-size:20px;
		}
		#footer-boxes .box span {
			font-size:14px;
		}
#content #main {
			padding:10px;
			width:396px;
		}
		#content #sidebar {
			padding:10px;
			width:396px;
			margin-right:0;
		}
		#content.homepage #sidebar #features {
			padding:30px 0 0 50px;
		}
		#content.homepage #sidebar #features ul{
			font-size:16px;
		}
		#content.homepage #sidebar #features li {
			margin:10px 0;
		}
		#content.homepage #sidebar h3 {
			font-size:18px;
		}
		#content.homepage #main {
			margin:0;
		}
		
		#footer #colspon p {
			line-height:0.8;
		}
		#footer #colspon .middot {
			display:block;
			text-indent:-9999px;
		}
		#content.homepage #sidebar {
			width:396px;
			height:initial;
			margin-top:228px;
			position:absolute;
		}
		#content.homepage #sidebar #features .videotour {
font-size: 16px;
}
#content.homepage #main img {
			width:416px;
		}

		#content.homepage #main  {
			width:416px;
			height:238px;
			position:absolute;
			float:left;
		}
		#content.homepage {
			height:605px;
		}
		.menu {
			position:absolute;
			z-index:99999;
			width:420px;	
			padding:0 0 0 0;
			margin: 0 0 0 0;
		}
		.menu li {
			display:block;	
			padding:0;
			margin:0;
		}
		.menu li:first-child a {
			display:block;
		}
		
		.menu li a {		
			padding:15px;
			display:none;
		}
		.menu:hover {
			background-color:#000035;
		}
		.menu:hover li a {
			border-right:1px solid #eacd47;
			border-left:1px solid #eacd47;
			border-bottom:1px solid #eacd47;
			display:block;
		}
		.menu:hover li:first-child a {
			border-top:1px solid #eacd47;
		}
		

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#branding hgroup #site-description {
			display:none;
		}
		#footer-boxes .box { 
			margin-top:15px;
		}
		#footer-boxes .box h3{ 
			font-size:20px;
		}
		#footer-boxes .box span {
			font-size:14px;
		}
		#content img {
			max-width:100%;
		}
		#content #main {
			padding:10px;
			width:276px;
		}
		#content #sidebar {
			padding:10px;
			width:276px;
		}

		#content.homepage #sidebar #features .videotour {
font-size: 16px;
}
		#content.homepage #sidebar #features {
			padding:30px 0 0 50px;
		}
		#content.homepage #sidebar #features ul{
			font-size:16px;
		}
		#content.homepage #sidebar #features li {
			margin:10px 0;
		}
		#content.homepage #sidebar h3 {
			font-size:18px;
		}
		#content.homepage #main {
			margin:0;
		}

		#footer #colspon p {
			line-height:0.8;
		}
		#footer #colspon .middot {
			display:block;
			text-indent:-9999px;
		}
		#content.homepage #sidebar {
			width:276px;
			height:initial;
			margin-top:159px;
			position:absolute;
		}
		#content.homepage #sidebar #features .videotour {
font-size: 16px;
}
#content.homepage #main img {
			width:296px;
		}
		#content.homepage #main  {
			width:296px;
			height:169px;
			position:absolute;
		}
				#content.homepage {
			height:535px;
		}
		.menu {
			position:absolute;
			z-index:99999;
			width:300px;	
			padding:0 0 0 0;
			margin: 0 0 0 0;
		}
		.menu li {
			display:block;	
			padding:0;
			margin:0;
		}
		.menu li:first-child a {
			display:block;
		}
		
		.menu li a {		
			padding:15px;
			display:none;
		}
		.menu:hover {
			background-color:#000035;
		}
		.menu:hover li a {
			border-right:1px solid #eacd47;
			border-left:1px solid #eacd47;
			border-bottom:1px solid #eacd47;
			display:block;
		}
		.menu:hover li:first-child a {
			border-top:1px solid #eacd47;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
    font-family: 'ArialRounded';
    src: url('fonts/arialRounded/arial-rounded-mt-bold-webfont.eot');
    src: url('fonts/arialRounded/arial-rounded-mt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arialRounded/arial-rounded-mt-bold-webfont.woff') format('woff'),
         url('fonts/arialRounded/arial-rounded-mt-bold-webfont.ttf') format('truetype'),
         url('fonts/arialRounded/arial-rounded-mt-bold-webfont.svg#FuturaMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FelixTitlingRegular';
    src: url('fonts/Felixti/felixti-webfont.eot');
    src: url('fonts/Felixti/felixti-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Felixti/felixti-webfont.woff') format('woff'),
         url('fonts/Felixti/felixti-webfont.ttf') format('truetype'),
         url('fonts/Felixti/felixti-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}
